:root {
  --bg-color: #cbd5e1;
  --filter-color: invert(0%) sepia(95%) saturate(0%) hue-rotate(180deg)
    brightness(91%) contrast(107%);
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 10rem 1fr 75px;
  background-color: var(--bg-color);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #475569;
}

header h1 {
  font-size: 5rem;
  color: #cbd5e1;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.game {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding-top: 32px;
}

.game h1 {
  font-size: 2rem;
}

.game h2 {
  font-size: 1.5rem;
}

#gameboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 400px;
  width: 400px;
}

.player-info {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.player-info h1 {
  font-size: 5rem;
}

.cell {
  border: 2px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.cell:hover {
  background-color: #475569;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: var(--bg-color);
}

footer a {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}

footer a:visited,
footer a:link {
  color: black;
}

footer img {
  height: 75%;
  filter: var(--filter-color);
}
